@font-face {
    font-family: quick_sand;
    src: url(Review_Page/assets/css/QuicksandRegular.ttf);
}
@font-face {
    font-family: VolkomBold;
    src: url(Review_Page/assets/css/VollkornBold.ttf);
}
